<div class="page-header">
    <h1>Munka Adó Regisztráció</h1>
</div>

{{#each errorMessages}}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group">
            <label for="vezeteknev" class="col-lg-2 control-label">Vezetéknév</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="vezeteknev" name="vezeteknev">
            </div>
        </div>
        <div class="form-group">
            <label for="keresztnev" class="col-lg-2 control-label">Keresztnév</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="keresztnev" name="keresztnev">
            </div>
        </div>
        <div class="form-group">
            <label for="azon" class="col-lg-2 control-label">Felhasználó név</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="azon" name="azon">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Jelszó</label>
            <div class="col-lg-10">
                <input class="form-control" type="password" id="password" name="password">
            </div>
        </div>
        <div class="form-group">
            <label for="ceg" class="col-lg-2 control-label">Cég (Opcionális)</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="ceg" name="ceg">
            </div>
        </div>
         <div class="form-group">
            <label for="varos" class="col-lg-2 control-label">Város</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="varos" name="varos">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Törlés</button>
                <button type="submit" class="btn btn-primary">Elküldés</button>
                {{data.engedely.munkaado}}
            </div>
        </div>
    </fieldset>
</form>